SEARXNG_SECRET=6a0f1ced9c55d3689f47190022e9281a0f7248de205f0f9255efe27b783855bb
SEARXNG_BASE_URL=https://priv.au/
RAIASPACE_FRONTEND_URL=https://hajir.is-a.dev/raiaspace

DOMAIN_FRONTEND=hajir.is-a.dev/
LETSENCRYPT_EMAIL=muhaajirmuhaajir9@proton.me
