{$DOMAIN_FRONTEND} {
    tls {$LETSENCRYPT_EMAIL}
    encode gzip

    handle /api/* {
        reverse_proxy backend:3000
    }

    handle {
        root * /usr/share/nginx/html
        file_server
    }
}
